<div class="container">
  <div class="row main">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Angular Reactive Form</h3>
        </div>
        <div class="card-body">
          <form class="form" novalidate [formGroup]="userForm" (ngSubmit)="onSubmit() ">
            <div class="form-group">
              <label for="name" class="control-label">Name</label><br>
              <input type="text" id="name" class="form-control" formControlName="name"
                [ngClass]="{'is-invalid':submitted && userForm.controls['name'].errors}" placeholder="Enter your name">
              <div *ngIf="submitted && userForm.controls['name'].errors" class="text-danger">
                <div *ngIf="submitted && userForm.controls['name'].errors['required']">
                  <small>Name is Required</small>
                </div>
              </div>
            </div>

            <label for="email" class="control-label">Email</label><br>
            <input type="email" id="email" class="form-control" formControlName="email"
              [ngClass]="{'is-invalid':submitted && userForm.controls['email'].errors}" placeholder="Enter your email">
            <div *ngIf="submitted && userForm.controls['email'].errors" class="text-danger">
              <div *ngIf="submitted && userForm.controls['email'].errors['required']">
                <small>Email is Required</small>
              </div>
              <div *ngIf="submitted && userForm.controls['email'].errors['email'] ">
                <small>Email is not valid</small>
              </div>
            </div>

            <label for="mobileNumber" class="control-label">Mobile Number</label><br>
            <input type="text" id="mobile" class="form-control" formControlName="mobileNo"
              [ngClass]="{'is-invalid':submitted && userForm.controls['mobileNo'].errors}"
              placeholder="Enter your 10 digit mobileNo">
            <div *ngIf="submitted && userForm.controls['mobileNo'].errors" class="text-danger">
              <div *ngIf="submitted && userForm.controls['mobileNo'].errors['required']">
                <small>Mobile number is Required</small>
              </div>
              <div *ngIf="submitted && userForm.controls['mobileNo'].errors['minLength']">
                <small>Mobile no sholud be of minimum 10 Digit</small>
              </div>
              <div *ngIf="submitted && userForm.controls['mobileNo'].errors['pattern']">
                <small>Enter only Numbers</small>
              </div>
            </div><br>            

            <label for="gender" class="control-label">Gender</label><br>
            <div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="male" />
                <label class="form-check-label">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="female" />
                <label class="form-check-label">Female</label>
              </div>
              <div *ngIf="submitted && userForm.controls['gender'].invalid" class="text-danger">
                <small>Gender is Required</small>
              </div>
            </div><br>

            <input type="checkbox" formControlName="checkbox">&nbsp;
            <label>Terms and Conditions</label>
            <div *ngIf="submitted && userForm.controls['checkbox'].errors" class="text-danger">
              <small>Click on checkbox</small>
            </div><br>
            <br>

            <label for="Hobbies" class="control-label">Hobbies</label>
            <div class="">
              <div class="col-md-6 form-check-inline" *ngFor="let object of inputField; let i = index">
                <div>
                  <input type="text" class="form-control" [(ngModel)]="newArray[i].values" [ngModelOptions]="{standalone: true}" />                  
                </div>
              </div>&nbsp;
              <div class="form-check-inline">
                <button class="btn btn-outline-info btn-sm" (click)="addRow()">Add More</button>
              </div>
            </div>
            <br>

            <small>Form Status: {{ userForm.status }}</small><br>
            <button class="btn btn-success" type="submit" (click)="submit()">Submit</button>&nbsp;
            <button type="reset" class="btn btn-danger" (click)="reset()">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div> <br>

  <table class="table table-bordered table-design">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Gender</th>
        <th>Hobbies</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listData; let i=index;">
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.mobileNo}}</td>
        <td>{{item.gender}}</td>
        <td><button class="btn btn-danger" type="reset" (click)="removeItem(i)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>