<div class="container">
  <div class="row main">
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Registration Form</h3>
        </div>
        <div class="card-body">
          <form class="form" [formGroup]="userForm">
            <div class="form-group">
              <label for="name" class="control-label">Name</label><br>
              <input type="text" id="name" class="form-control" formControlName="name" placeholder="Enter your name"
                required>
              <div> <small *ngIf="userForm.get('name').invalid && userForm.get('name').touched"
                  class="text-danger">Please enter the valid input</small>
              </div>
            </div>

            <label for="email" class="control-label">Email</label><br>
            <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter your email"
              required>
            <div>
              <small *ngIf="userForm.get('email').invalid && userForm.get('email').touched" class="text-danger">Please
                enter the valid input</small>
            </div>

            <label for="mobileNumber" class="control-label">Mobile Number</label><br>
            <input type="text" id="mobile" class="form-control" formControlName="mobileNo"
              placeholder="Enter your 10 digit mobileNo" required>
            <div>
              <small *ngIf="userForm.get('mobileNo').invalid && userForm.get('mobileNo').touched"
                class="text-danger">Please enter the valid input</small>
            </div>

            <label for="gender" class="control-label">Gender</label><br>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="male" />
              <label class="form-check-label" for="inlineRadio2">Male</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="gender" formControlName="gender" value="female" />
              <label class="form-check-label" for="inlineRadio2">Female</label>
            </div><br><br>

            <input type="checkbox" formControlName="checkbox">
            <small *ngIf="userForm.get('checkbox').invalid && userForm.get('checkbox').touched">Please enter the valid
              input</small>
            &nbsp;
            <label required>Terms and Conditions</label><br><br>
            <small>Form Status: {{ userForm.status }}</small><br>
            <button class="btn btn-success" type="submit" [disabled]="userForm.invalid"
              (click)="submit()">Submit</button>&nbsp;
            <button type="reset" class="btn btn-danger">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div> <br>

  <table class="table table-bordered table-design">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
        <th>Gender</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listData">
        <td>{{item.name}}</td>
        <td>{{item.email}}</td>
        <td>{{item.mobileNo}}</td>
        <td>{{item.gender}}</td>
        <td><button class="btn btn-danger" type="reset" (click)="removeItem(item)">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>